.pixel-cat {
  width: 80px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  animation: run 6s linear infinite;
}

/* Анимация движения слева направо */
@keyframes run {
  0% { transform: translateX(-150px); }
  100% { transform: translateX(100vw); }
}

/* Анимация смены кадров лапок */
@keyframes paws {
  0%, 50% { display: inline; }
  50.01%, 100% { display: none; }
}

/* CSS через JS переключение */
.pixel-cat .frame {
  animation: paws 0.5s steps(1) infinite;
}
.pixel-cat .frame2 {
  animation-delay: 0.25s;
}
